.top_side   {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: var(--background_cards_color);
    height:100%;
    min-height:300px;
    max-height:680px;
}

.credit_card    {
    position:relative;
    text-align:center;
    margin:20px;
    background-color:white;
    width:320px;
    height:180px;
    border-radius:15px;
    
}

.back_card  {
    position:relative;
    top:20px;
    left:15px;
    background-color:#fff;
}

.black_bar{
    width:100%;
    background-color: var(--black_bar_area);
    height:30px;
    margin-top:20px;
}

.credit_secure_code {
    background-color: var(--security_card_area);
    width:100%;
    max-width:280px;
    margin-top:15px;
    margin-right:auto;
    margin-left:auto;
    text-align:end;
    padding: 0 10px;
    border-radius: var(--border_radius);
}


.front_card {
    position:absolute;
    top: 160px;
    left:10px;
    background: rgb(75,45,245);
    background: linear-gradient(66deg, rgba(75,45,245,1) 3%, rgba(122,129,227,1) 49%, rgb(99, 41, 104) 95%, rgb(146, 2, 183) 98%);
}
.credit_secure_code span    {
    color:var(--white_color);
    padding:5px;
}

.front_card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}

.card__number__area {
    margin-top:70px;
    color: var(--white_color);
    font-family:cursive;
    letter-spacing:4px;
    font-size:1.3em;
    padding-right:10px;
    padding-left:10px;
    
}

.person__name_and_cvc__area {
    display:flex;
    justify-content: space-between;
    padding-top:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-right:28px;
}

.person__name_and_cvc__area p   {
    color: var(--white_color);
    letter-spacing:2px;
    font-size:0.9em;
    font-weight:100;
}

.person__name_and_cvc__area p:first-of-type{
    text-align:start;
    margin-left:16px;
    color: var(--white_color);
    padding:3px;
    letter-spacing: 3px;
    
    
}

.bottom_side    {
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:100vh;
    max-height:800px;
    min-height:300px;
    background-color: #fff;

}


.input__area    {
    
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    height:100%;
    max-height:300px;
    

}